@model  CampaignViewModel

<div>
    @if (@Model.User.Uri == null)
    {       
        <img src="~/images/org-default.png" />
    }
    else
    {
        <img src="@Model.User.Uri" />
    }
    <h1>@Model.Campaign.Title</h1>
    <h2 id="date"></h2>
    <h2>@Model.Campaign.TotalPrice</h2>
    @if (Model.Products != null) {
        <table>
            <tr>
                @foreach (var product in Model.Products)
                {
                    <td>@product.ProductName</td>
                    <td>@product.Amount</td>
                    <td>@product.Price</td>
                    <td>
                        <form method="post"  asp-controller="User" asp-action="AddToDonationAmount" asp-route-price="@product.Price" asp-route-campaignId="@product.CampaignId">
                            <button type="submit"class="btn btn-sm btn-primary">Pay</button>
                        </form>
                    </td>
                    <td>
                        <form method="post">
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </td>
                }
            </tr>
        </table>
    }
    else
	{
    <h1>No products</h1>
	}
    
</div>

<script>
var countDownDate = new Date("@Model.Campaign.ExpiryDate.ToString()").getTime();
var x = setInterval(function() {
var now = new Date().getTime();
var distance = countDownDate - now;
var days = Math.floor(distance / (1000 * 60 * 60 * 24));
var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("date").innerHTML = days + " days " + hours + " hours "
    + minutes + " minutes " + seconds + " seconds ";
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("date").innerHTML = "EXPIRED";
  }
}, 10);
</script>