@model  CampaignViewModel

<div class="container"
    @if (@Model.Campaign.Uri != null)
    {       
        <img src="@Model.Campaign.Uri">
    }
    else
    {
        <img src="~/images/org-default.png">
    }
    <h1>@Model.Campaign.Title</h1>
    <h2>@Model.Campaign.ExpiryDate</h2>
    <h2>@Model.Campaign.TotalPrice</h2>
    @if (Model.Campaign.Products != null) {
        <table>
            <tr>
                @foreach (var product in Model.Campaign.Products)
                {
                    <td>@product.ProductName</td>
                    <td>@product.Amount</td>
                    <td>@product.Price</td>
                    <td>
                        <form method="post">
                            <button type="submit" class="btn btn-sm btn-primary">Pay</button>
                        </form>
                    </td>
                    <td>
                        <form method="post">
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </td>
                }
            </tr>
        </table>
    }
    <h1>No products</h1>
</div>
