@model CampaignViewModel

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="card col-md-8">
            <div class="row no-gutters">
                <br />
                <div class="col-md-6">
                    @if (@Model.User.Uri == null)
                    {
                        <img src="~/images/org-default.png" />
                    }
                    else
                    {
                        <img src="@Model.User.Uri" />
                    }
                </div>
                <br />
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title"> @Model.Campaign.Title</h5>
                        <a asp-controller="Profile" asp-action="ViewOrgProfile" asp-route-ownerId="@Model.Campaign.UserId">More info</a>
                        <p class="card-text">@Model.Campaign.Description.</p>
                        <p class="card-text" id="date"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <br />
    </div>
    <br />
    @if (User.IsInRole("Organization"))
    {
<div class="card">
    <br />
    <form asp-action="AddProduct" asp-controller="Product" asp-route-campaignId="@Model.Campaign.CampaignId" method="post">
        <div class="form-header bg-white" id="addproduct">
            <h3> Add new product:</h3>
        </div>
        <div class="md-form">
            <i class="prefix"></i>
            <input asp-for="Product.ProductName" class="form-control">
            <label asp-for="Product.ProductName"></label>
            <span asp-validation-for="Product.ProductName" class="text-danger"></span>
        </div>
        <div class="md-form">
            <i class="prefix"></i>
            <input asp-for="Product.Amount" class="form-control">
            <label asp-for="Product.Amount"></label>
            <span asp-validation-for="Product.Amount" class="text-danger"></span>
        </div>
        <div class="md-form">
            <i class="prefix"></i>
            <input asp-for="Product.Price" class="form-control">
            <label asp-for="Product.Price"></label>
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="text-right">
            <button class="btn btn-primary">Add product</button>
        </div>
    </form>
</div>
    }
    @if (Model.Products.Count != 0)
    {
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Price</th>
                <th scope="col">Donate</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.Amount</td>
                    <td>@product.Price</td>
                    <td>
                        <form method="post" asp-controller="User" asp-action="AddToDonationAmount" asp-route-price="@product.Price" asp-route-campaignId="@product.CampaignId">
                            <button type="submit" class="btn btn-sm btn-primary">Donate</button>
                        </form>
                    </td>
                </tr>
            }

            </tbody>
        </table>
        <form method="post" asp-controller="Payment" asp-action="Payment" asp-route-donationamount="@Model.User.DonationAmount">
            <button type="submit" class="btn btn-sm btn-primary">Pay</button>
        </form>
    }
    else
    {
        <div class="alert alert-danger" role="alert">No products yet!</div>
    }
</div>

<script>
var countDownDate = new Date("@Model.Campaign.ExpiryDate.ToString()").getTime();
var x = setInterval(function() {
var now = new Date().getTime();
var distance = countDownDate - now;
var days = Math.floor(distance / (1000 * 60 * 60 * 24));
var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("date").innerHTML = days + " days " + hours + " hours "
    + minutes + " minutes " + seconds + " seconds ";
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("date").innerHTML = "EXPIRED";
  }
}, 10);
</script>