@model  CampaignViewModel

<div class="container">
    @if (@Model.User.Uri == null)
    {
        <img src="~/images/org-default.png"/>
    }
    else
    {
        <img src="@Model.User.Uri"/>
    }
    <form asp-action="AddProduct" asp-controller="Product" asp-route-campaignId="@Model.Campaign.CampaignId" method="post">
        <div class="form-header bg-light">
            <h3> Add new product:</h3>
        </div>
        <div class="md-form">
            <i class="prefix"></i>
            <input asp-for="Product.ProductName" class="form-control">
            <label asp-for="Product.ProductName"></label>
            <span asp-validation-for="Product.ProductName" class="text-danger"></span>
        </div>
        <div class="md-form">
            <i class="prefix"></i>
            <input asp-for="Product.Amount" class="form-control">
            <label asp-for="Product.Amount"></label>
            <span asp-validation-for="Product.Amount" class="text-danger"></span>
        </div>
        <div class="md-form">
            <i class="prefix"></i>
            <input asp-for="Product.Price" class="form-control">
            <label asp-for="Product.Price"></label>
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="text-right">
            <button class="btn btn-primary">Add product</button>
        </div>
    </form>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h4 class="card-title">Title</h4>
                    <h3 class="card-text">@Model.Campaign.Title</h3>
                </div>
                <div>
                    <h4 class="card-title">Expiry Date</h4>
                    <h3 color="red" class="card-text" id="date"></h3>
                </div>
                <div>
                    <h4 class="card-title">Description</h4>
                    <h4 class="card-text">@Model.Campaign.Description</h4>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Products != null)
    {
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Price</th>
                <th scope="col">Donate</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.Amount</td>
                    <td>@product.Price</td>
                    <td>
                        <form method="post" asp-controller="User" asp-action="AddToDonationAmount" asp-route-price="@product.Price" asp-route-campaignId="@product.CampaignId">
                            <button type="submit" class="btn btn-sm btn-primary">Donate</button>
                        </form>
                    </td>
                </tr>
            }

            </tbody>
        </table>
        <form method="post" asp-controller="Payment" asp-action="Payment" asp-route-donationamount="@Model.User.DonationAmount">
            <button type="submit" class="btn btn-sm btn-primary">Pay</button>
        </form>
    }
    else
    {
        <h1>No products</h1>
    }
</div>

<script>
var countDownDate = new Date("@Model.Campaign.ExpiryDate.ToString()").getTime();
var x = setInterval(function() {
var now = new Date().getTime();
var distance = countDownDate - now;
var days = Math.floor(distance / (1000 * 60 * 60 * 24));
var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("date").innerHTML = days + " days " + hours + " hours "
    + minutes + " minutes " + seconds + " seconds ";
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("date").innerHTML = "EXPIRED";
  }
}, 10);
</script>